# ===============================
# Database
# ===============================
DATABASE_LOCAL_URL=
DATABASE_LOCAL_PORT=
DATABASE_LOCAL_SCHEMA=
DATABASE_LOCAL_USERNAME=
DATABASE_LOCAL_PASSWORD=

# ===============================
# Redis
# ===============================
REDIS_LOCAL_URL=
REDIS_LOCAL_PASSWORD=
REDIS_LOCAL_PORT=

# ===============================
# JWT
# ===============================
JWT_LOCAL_ACCESS_TOKEN_SECRET=
JWT_LOCAL_REFRESH_TOKEN_SECRET=

# ===============================
# OAuth (Kakao)
# ===============================
OAUTH_KAKAO_CLIENT_ID=
OAUTH_KAKAO_LOCAL_REDIRECT_URI=

# ===============================
# Discord
# ===============================
DISCORD_WEBHOOK_URL=

# ===============================
# AWS
# ===============================
AWS_S3_ACCESS_KEY=
AWS_S3_SECRET_KEY=
AWS_S3_BUCKET_NAME=
AWS_REGION=
